.input-group{
    background-color: #d2d2d2 !important;
}
#header img{
    width: 300px;
}
main{
    background-color: #d2d2d2;
}
.navbar-select a{
    color: #000000 !important;
}
.button-seach{
    border-color: #000000;
    color: #000000;
    font-weight: bold;
}
.container-tabla{
    /* margin: 10px auto; */
    /* width: 280px; */
    /* height: auto; */
    /* border: red solid; */
    border-radius: 10px;
    background-color: white;
}
.container-tabla--title{

}

#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
}
#footer a{
    text-decoration: none;
    color: white;
}